# stretch (sepsis-pics)

In [2]:
import pandas as pd
from common_eicu import eicu_path

## patient result

In [2]:
df_patient_result = pd.read_csv(
    eicu_path('apachePatientResult.csv.gz'),
)
df_patient_result.head()

,apachepatientresultsid,patientunitstayid,physicianspeciality,physicianinterventioncategory,acutephysiologyscore,apachescore,apacheversion,predictedicumortality,actualicumortality,predictediculos,...,predictedhospitallos,actualhospitallos,preopmi,preopcardiaccath,ptcawithin24h,unabridgedunitlos,unabridgedhosplos,actualventdays,predventdays,unabridgedactualventdays
0,26570,141168,critical care medicine (CCM),Unknown,49,65,IV,0.026988,EXPIRED,3.038388,...,7.546453,2.4972,0,0,0,2.4972,2.4972,NaN,NaN,NaN
1,26571,141168,critical care medicine (CCM),Unknown,49,65,IVa,0.028889,EXPIRED,3.091127,...,6.628720,2.4972,0,0,0,2.4972,2.4972,NaN,NaN,NaN
2,53135,141194,critical care medicine (CCM),Unknown,57,70,IV,0.037888,ALIVE,4.620982,...,13.338449,9.2167,0,0,0,3.3423,9.2167,NaN,NaN,NaN
3,53136,141194,critical care medicine (CCM),Unknown,57,70,IVa,0.046448,ALIVE,4.167129,...,12.978228,9.2167,0,0,0,3.3423,9.2167,NaN,NaN,NaN
4,8,141203,hospitalist,I,73,90,IVa,0.291609,ALIVE,8.670299,...,16.319389,3.7493,0,0,0,1.2979,3.7493,2.0,5.738093,2.0

## lab data

In [3]:
df_lab = pd.read_csv(
    eicu_path('lab.csv.gz'),
    nrows=5000,
)

In [4]:
df_lab[df_lab['labname'] == 'CRP']

,labid,patientunitstayid,labresultoffset,labtypeid,labname,labresult,labresulttext,labmeasurenamesystem,labmeasurenameinterface,labresultrevisedoffset
2069,59019291,141265,537,4,CRP,0.3,0.3,mg/dL,mg/dL,556
3024,57773485,141296,3328,4,CRP,16.9,16.9,mg/dL,mg/dL,3368
3207,57609169,141297,193,4,CRP,19.7,19.7,mg/dL,mg/dL,231
4159,57950892,141362,10871,4,CRP,4.9,4.9,mg/dL,mg/dL,10946

## data output (raw)

In [19]:
df_raw_na = pd.read_csv(
    './data_eicu_compact_raw_na.csv.gz',
    index_col='patientunitstayid',
)
df_raw_na.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 167643 entries, 141168 to 3353263
Data columns (total 20 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   age                167609 non-null  float64
 1   urine              167556 non-null  float64
 2   wbc                167556 non-null  float64
 3   meanbp             167556 non-null  float64
 4   actualhospitallos  148519 non-null  float64
 5   vasopressor        167643 non-null  int64
 6   hr                 126207 non-null  float64
 7   creatinine         162908 non-null  float64
 8   platelet           160718 non-null  float64
 9   inr                111483 non-null  float64
 10  pt                 108660 non-null  float64
 11  ptt                82703 non-null   float64
 12  lactate            66618 non-null   float64
 13  rdw                152070 non-null  float64
 14  bilirubin          119313 non-null  float64
 15  bicarbonate        153378 non-null  float64
 16  crp                6735 non-null    float64
 17  lymph              128882 non-null  float64
 18  albumin            126918 non-null  float64
 19  prealbumin         9799 non-null    float64
dtypes: float64(19), int64(1)
memory usage: 26.9 MB

In [20]:
df_raw_na.head()

,age,urine,wbc,meanbp,actualhospitallos,vasopressor,hr,creatinine,platelet,inr,pt,ptt,lactate,rdw,bilirubin,bicarbonate,crp,lymph,albumin,prealbumin
patientunitstayid,,,,,,,,,,,,,,,,,,,,
141168,70.0,-1.0,14.7,62.0,2.4972,0,NaN,2.400000,203.0,2.86,30.62,32.50,12.2,18.066667,3.966667,22.000000,NaN,11.666667,3.133333,NaN
141178,52.0,-1.0,-1.0,-1.0,NaN,0,NaN,0.700000,273.0,NaN,NaN,NaN,NaN,11.900000,0.400000,25.000000,NaN,45.000000,4.000000,NaN
141179,52.0,NaN,NaN,NaN,NaN,0,NaN,0.700000,219.0,NaN,NaN,NaN,NaN,11.900000,NaN,24.000000,NaN,NaN,NaN,NaN
141194,68.0,-1.0,14.1,40.0,9.2167,0,112.0,2.108571,190.5,1.10,12.10,32.25,1.5,16.240000,0.400000,21.071429,NaN,17.000000,2.650000,NaN
141196,71.0,NaN,NaN,NaN,NaN,0,NaN,0.840000,497.0,NaN,NaN,NaN,0.8,13.633333,0.300000,31.000000,NaN,5.666667,2.500000,NaN

In [14]:
len(df_raw_na.dropna())

284

## data output (sepsis)

In [21]:
df_sepsis_na = pd.read_csv(
    './data_eicu_compact_sepsis_na.csv',
    index_col='patientunitstayid',
)
df_sepsis_na.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22009 entries, 141227 to 3353251
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   age                22009 non-null  float64
 1   urine              22008 non-null  float64
 2   wbc                22008 non-null  float64
 3   meanbp             22008 non-null  float64
 4   actualhospitallos  19470 non-null  float64
 5   vasopressor        22009 non-null  int64
 6   hr                 18499 non-null  float64
 7   creatinine         21753 non-null  float64
 8   platelet           21657 non-null  float64
 9   inr                16182 non-null  float64
 10  pt                 15821 non-null  float64
 11  ptt                11861 non-null  float64
 12  lactate            17464 non-null  float64
 13  rdw                20286 non-null  float64
 14  bilirubin          19252 non-null  float64
 15  bicarbonate        20339 non-null  float64
 16  crp                1577 non-null   float64
 17  lymph              18384 non-null  float64
 18  albumin            20090 non-null  float64
 19  prealbumin         2290 non-null   float64
dtypes: float64(19), int64(1)
memory usage: 3.5 MB

In [11]:
len(
    df_sepsis_na.dropna(
        subset=list(
            set(df_sepsis_na.columns) - set(['crp', 'prealbumin'])  # 5151
            # set(df_sepsis_na.columns) - set(['crp'])  # 817
            # set(df_sepsis_na.columns) - set(['prealbumin'])  # 403
        )
    )
)

5151

## output data (pics checked)

In [38]:
df_pics = pd.read_csv('./data_eicu_compact_pics.csv')
df_pics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4524 entries, 0 to 4523
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   patientunitstayid  4524 non-null   int64
 1   age                4524 non-null   float64
 2   urine              4524 non-null   float64
 3   wbc                4524 non-null   float64
 4   meanbp             4524 non-null   float64
 5   vasopressor        4524 non-null   int64
 6   hr                 4524 non-null   float64
 7   creatinine         4524 non-null   float64
 8   platelet           4524 non-null   float64
 9   inr                4524 non-null   float64
 10  pt                 4524 non-null   float64
 11  ptt                4524 non-null   float64
 12  lactate            4524 non-null   float64
 13  rdw                4524 non-null   float64
 14  bilirubin          4524 non-null   float64
 15  bicarbonate        4524 non-null   float64
 16  pics               4524 non-null   bool
dtypes: bool(1), float64(14), int64(2)
memory usage: 570.0 KB

In [39]:
n_sepsis = len(df_pics)
pics_mask = df_pics['pics'].map(bool)
n_pics = len(df_pics[pics_mask])
pct = n_pics / n_sepsis
print(f'PICS: {pct:.2%}')

PICS: 0.75%